@model BudgetingWebApp.Models.BudgetModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BudgetModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BudgetMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BudgetMonth)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BudgetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
