@model BudgetingWebApp.ViewModels.MainViewModel

@{
    ViewBag.Title = Model.Budget.BudgetMonth;
    int budgetID = Model.Budget.BudgetID;
    string userID = Model.Budget.UserID;
}

<h2>@Model.Budget.BudgetMonth</h2>

<style type="text/css">
    table {
        width: 700px;
        border: double;
    }

    th {
        width: 100px;
    }

    td {
        border: double;
        width: 100px;
    }

    input {
        width: 100px;
    }
</style>

<script src="~/Scripts/jquery-2.0.0.min.js"></script>
<script src="~/Scripts/knockout-2.2.1.js"></script>

<p>
    @Html.ActionLink("Create New Category", "Create", "MainCategory", new { budgetID = budgetID }, null)
</p>

<div>
    <table style="width:100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Allotment
                </th>
                <th>
                    Actual
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var MC in Model.MainCategory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => MC.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => MC.Allotment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => MC.Actual)
                </td>
                <td align="center">
                    @Html.ActionLink("Create Sub-Category", "Create", "SubCategory", new { id = MC.MainCategoryID, budgetID = budgetID, mainCategoryName = Html.DisplayFor(modelItem => MC.Name) }, null) |
                    @Html.ActionLink("Delete", "Delete", "MainCategory", new { id = MC.MainCategoryID, budgetID = budgetID }, null)
                </td>
            </tr>
            foreach(var SC in Model.SubCategory)
            {
                if (SC.MainCategoryID == MC.MainCategoryID)
                {
                    
                    <tr align="center">
                        <td>
                            @Html.DisplayFor(modelItem => SC.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => SC.Allotment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => SC.Allotment)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "SubCategory", new { id = SC.SubCategoryID, budgetID = budgetID }, null)
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>


<div>
    @Html.ActionLink("Back to Budgets List", "Index", "Budget", new { id = userID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
