@*@model BudgetingWebApp.Models.BudgetModel*@
@model BudgetingWebApp.ViewModels.MainViewModel

@{
    ViewBag.Title = Model.Budget.BudgetMonth;
    int budgetID = Model.Budget.BudgetID;
}

<h2>@Model.Budget.BudgetMonth</h2>

<p>
    @Html.ActionLink("Create New Category", "Create", "MainCategory", new { id = budgetID }, null)
</p>

<div>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Allotment
            </th>
            <th>
                Actual
            </th>
        </tr>
        @foreach (var item in Model.MainCategory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allotment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actual)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "MainCategory", new { id = item.MainCategoryID, budgetID = budgetID }, null) |
                    @Html.ActionLink("+", "Create", "SubCategory", new { id = item.MainCategoryID }, null)
                </td>
            </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", "Budget", new { id = budgetID }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
