@model IEnumerable<BudgetingWebApp.Models.MainCategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Category", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetID)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Name)
        </td>
        <td>
            @Html.DisplayFor(model => item.MainCategoryID)
        </td>
        <td>
            @Html.DisplayFor(model => item.BudgetID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MainCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MainCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MainCategoryID })
        </td>
    </tr>
}

</table>
